@media only screen and (min-width: 768px) {
  .modalContainer {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    &:focus {
      outline: none !important;
      border: none !important;
    }

    .modal {
      min-height: 300px;
      width: 50%;
      background-color: white;
      padding: 20px 30px;
      border-radius: 12px;
      &:focus {
        outline: none !important;
        border: none !important;
      }
      .fileContainer {
        .fileNameStatusContainer {
          display: flex;
          justify-content: space-between;
          align-items: center;
          .fileName {
            p {
              font-size: 13px;
              font-weight: 600;
              font-family: "Lato", sans-serif;
              color: #aeaeae;
            }
          }
          .fileStatus {
            p {
              font-size: 12px;
              font-weight: 600;
              font-family: "Lato", sans-serif;
            }
            .success {
              color: #6fcf97;
            }
            .error {
              color: #eb5757;
            }
          }
        }
        .fileBox {
          padding: 10px 15px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          border: 1.5px solid #f2f2f2;
          border-radius: 12px;
          margin-top: 15px;
          .fileBoxLeft {
            display: flex;
            align-items: center;
            .iconContainer {
              width: 20px;
            }
            .file {
              margin-left: 15px;
              .fileName {
                p {
                  color: #404040;
                  font-weight: 600;
                  font-size: 15px;
                  font-family: "Lato", sans-serif;
                }
              }
              .fileSize {
                p {
                  color: #aeaeae;
                  font-weight: 600;
                  font-size: 15px;
                  font-family: "Lato", sans-serif;
                }
              }
            }
          }
          .fileBoxRight {
            display: flex;
            align-items: center;
            .progressContainer {
              margin-right: 20px;
              width: 250px;
              .progressBar {
                height: 5px;
                background-color: #f2f2f2;
                border-radius: 100px;
                position: relative;
                .barComplete {
                  position: absolute;
                  height: 100%;
                  width: 100%;
                  background: linear-gradient(90deg, #209d43 0%, #2bc255 100%);
                  border-radius: 100px;
                  z-index: 11;
                }
              }
              .statusContainer {
                display: flex;
                justify-content: space-between;
                margin-top: 5px;
                .speedContainer {
                  p {
                    font-weight: 600;
                    font-family: "Lato", sans-serif;
                    font-size: 14px;
                    color: #aeaeae;
                  }
                }
                .status {
                  p {
                    font-weight: 600;
                    font-family: "Lato", sans-serif;
                    font-size: 14px;
                    color: #209d43;
                  }
                }
              }
            }
            .iconContainer {
              padding: 5px;
              background-color: rgba(235, 87, 87, 0.07);
              border-radius: 12px;
              display: flex;
              justify-content: center;
              align-items: center;
              .icon {
                width: 10px;
                height: 10px;
              }
            }
          }
        }
        .fileBoxError {
          padding: 10px 15px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          background-color: rgba(235, 87, 87, 0.07);
          border-radius: 12px;
          margin-top: 8px;
          .fileBoxLeft {
            display: flex;
            align-items: center;
            .iconContainer {
              width: 20px;
            }
            .file {
              margin-left: 15px;
              .fileName {
                p {
                  color: #404040;
                  font-weight: 600;
                  font-size: 15px;
                  font-family: "Lato", sans-serif;
                }
              }
              .fileSize {
                p {
                  color: #aeaeae;
                  font-weight: 600;
                  font-size: 15px;
                  font-family: "Lato", sans-serif;
                }
              }
            }
          }
          .fileBoxRight {
            .iconContainer {
              padding: 5px;
              background-color: rgba(235, 87, 87, 0.07);
              border-radius: 12px;
              display: flex;
              justify-content: center;
              align-items: center;
              .icon {
                width: 10px;
                height: 10px;
              }
            }
          }
        }
      }
      .uploadContainer {
        border: 1.5px dashed #197bbd;
        border-radius: 12px;
        margin-top: 15px;
        height: 55px;
        display: flex;
        justify-content: center;
        align-items: center;
        p {
          font-size: 15px;
          font-weight: 600;
          font-family: "Lato", sans-serif;
          color: #404040;
          span {
            color: #197bbd;
          }
        }
      }
      .buttonsContainer {
        margin-top: 30px;
        display: flex;
        justify-content: center;
        .submit {
          color: white;
          border-radius: 12px;
          background-color: #197bbd;
          width: 200px;
          font-weight: 600;
          font-size: 14px;
          font-family: "Lato", sans-serif;
        }
        .cancel {
          margin-left: 20px;
          color: #197bbd;
          border: 1px solid #197bbd;
          border-radius: 12px;
          width: 200px;
          font-weight: 600;
          font-size: 14px;
          font-family: "Lato", sans-serif;
        }
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .modalContainer {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    &:focus {
      outline: none !important;
      border: none !important;
    }

    .modal {
      min-height: 300px;
      width: 98%;
      background-color: white;
      padding: 20px 15px;
      border-radius: 12px;
      &:focus {
        outline: none !important;
        border: none !important;
      }
      .fileContainer {
        .fileNameStatusContainer {
          display: flex;
          justify-content: space-between;
          align-items: center;
          .fileName {
            p {
              font-size: 13px;
              font-weight: 600;
              font-family: "Lato", sans-serif;
              color: #aeaeae;
            }
          }
          .fileStatus {
            p {
              font-size: 12px;
              font-weight: 600;
              font-family: "Lato", sans-serif;
            }
            .success {
              color: #6fcf97;
            }
            .error {
              color: #eb5757;
            }
          }
        }
        .fileBox {
          padding: 10px 15px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          border: 1.5px solid #f2f2f2;
          border-radius: 12px;
          margin-top: 15px;
          .fileBoxLeft {
            display: flex;
            align-items: center;
            .iconContainer {
              width: 20px;
            }
            .file {
              margin-left: 15px;
              .fileName {
                p {
                  color: #404040;
                  font-weight: 600;
                  font-size: 15px;
                  font-family: "Lato", sans-serif;
                }
              }
              .fileSize {
                p {
                  color: #aeaeae;
                  font-weight: 600;
                  font-size: 15px;
                  font-family: "Lato", sans-serif;
                }
              }
            }
          }
          .fileBoxRight {
            display: flex;
            align-items: center;
            .progressContainer {
              margin-right: 20px;
              width: 110px;
              .progressBar {
                height: 5px;
                background-color: #f2f2f2;
                border-radius: 100px;
                position: relative;
                .barComplete {
                  position: absolute;
                  height: 100%;
                  width: 100%;
                  background: linear-gradient(90deg, #209d43 0%, #2bc255 100%);
                  border-radius: 100px;
                  z-index: 11;
                }
              }
              .statusContainer {
                display: flex;
                justify-content: space-between;
                margin-top: 5px;
                .speedContainer {
                  p {
                    font-weight: 600;
                    font-family: "Lato", sans-serif;
                    font-size: 14px;
                    color: #aeaeae;
                  }
                }
                .status {
                  p {
                    font-weight: 600;
                    font-family: "Lato", sans-serif;
                    font-size: 14px;
                    color: #209d43;
                  }
                }
              }
            }
            .iconContainer {
              padding: 5px;
              background-color: rgba(235, 87, 87, 0.07);
              border-radius: 12px;
              display: flex;
              justify-content: center;
              align-items: center;
              height: 20px;
              .icon {
                width: 10px;
                height: 10px;
              }
            }
          }
        }
        .fileBoxError {
          padding: 10px 15px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          background-color: rgba(235, 87, 87, 0.07);
          border-radius: 12px;
          margin-top: 8px;
          .fileBoxLeft {
            display: flex;
            align-items: center;
            .iconContainer {
              width: 20px;
            }
            .file {
              margin-left: 15px;
              .fileName {
                p {
                  color: #404040;
                  font-weight: 600;
                  font-size: 15px;
                  font-family: "Lato", sans-serif;
                }
              }
              .fileSize {
                p {
                  color: #aeaeae;
                  font-weight: 600;
                  font-size: 15px;
                  font-family: "Lato", sans-serif;
                }
              }
            }
          }
          .fileBoxRight {
            .iconContainer {
              padding: 5px;
              background-color: rgba(235, 87, 87, 0.07);
              border-radius: 12px;
              display: flex;
              justify-content: center;
              align-items: center;
              .icon {
                width: 10px;
                height: 10px;
              }
            }
          }
        }
      }
      .uploadContainer {
        border: 1.5px dashed #197bbd;
        border-radius: 12px;
        margin-top: 15px;
        height: 55px;
        display: flex;
        justify-content: center;
        align-items: center;
        p {
          font-size: 15px;
          font-weight: 600;
          font-family: "Lato", sans-serif;
          color: #404040;
          span {
            color: #197bbd;
          }
        }
      }
      .buttonsContainer {
        margin-top: 30px;
        display: flex;
        justify-content: center;
        .submit {
          color: white;
          border-radius: 12px;
          background-color: #197bbd;
          width: 200px;
          font-weight: 600;
          font-size: 14px;
          font-family: "Lato", sans-serif;
        }
        .cancel {
          margin-left: 20px;
          color: #197bbd;
          border: 1px solid #197bbd;
          border-radius: 12px;
          width: 200px;
          font-weight: 600;
          font-size: 14px;
          font-family: "Lato", sans-serif;
        }
      }
    }
  }
}
